.container {
  width: 20rem;
  height: 10rem;
  border-radius: 10px;
  padding: 1rem 0;
  background: rgb(79, 79, 80);
  position: relative;
  text-align: start;
  color: white;
  margin: 1rem;
  position: relative;
}

.lightContainer {
  width: 20rem;
  height: 10rem;
  border-radius: 10px;
  padding: 1rem 0;
  background: rgb(125, 94, 8);
  position: relative;
  text-align: start;
  color: rgb(0, 0, 0);
  margin: 1rem;
}

.imgContainer {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  right: 1rem;
  top: 2rem;
  z-index: 2;
}

.img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.detelecard{
position: absolute;
cursor: pointer;
right: 0;
top: 0;
margin: 10px;
}